<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5Dv_YRuhNC0NofpyztWrb7mIH3-Gx8c0</string>
	<key>GCM_SENDER_ID</key>
	<string>874274763327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seniorease.seniorEase</string>
	<key>PROJECT_ID</key>
	<string>senior-app-2adee</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-app-2adee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874274763327:ios:86757429430eed2025be8a</string>
</dict>
</plist>